body {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 3rem;            /* Footer height */
}

table, 
.orderForm {
  margin-top: 25px;
  margin-bottom: 25px;
}

.homeButtons {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
}

button {
  margin: 12px;
}