@{
  Layout = "_Layout";
}

<h1 class="is-size-1 has-text-centered">Welcome to the Vendor and Order List!</h1>

<p>This is a splash page!</p>
<p>Use the buttons below to add or view vendors or orders.</p>
<div class="columns">
  <div class=" homeButtons column is-half is-centered">
    <a href='/vendors' class="button is-info is-outlined">View Vendors</a>
    <a href='/vendors/new' class="button is-success is-outlined">+ Add Vendor</a>
  </div>
</div>