@{
  Layout = "_Layout";
}

<h1 class="is-size-1 has-text-centered">Welcome to the Vendor and Order List!</h1>

<div class="columns">
  <div class="column is-one-third is-centered">
    <a href='/vendors' class="button is-info is-outlined">View Vendors</a>
    <a href='/vendors/new' class="button is-success is-outlined">+ Add Vendor</a>
  </div>
</div>