@{
  Layout = "_Layout";
}

@using Tracker.Models;

<h1 class="is-size-1 has-text-centered">Vendor List</h1>

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li class="is-active"><a href="/vendors" aria-current="page">Vendor List</a></li>
  </ul>
</nav>

@if (@Model.Count == 0)
{
  <h3 class="is-size-4">No vendors have been added yet!</h3>
}

<table class="table is-bordered is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th style="width:10%;">ID#:</th>
      <th style="width:45%;">Name:</th>
      <th style="width:45%;">Description:</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Vendor vendor in Model)
    {
      <tr>
        <td>@vendor.Id</td>
        <td><a href='/vendors/@vendor.Id'>@vendor.Name</a></td>
        <td>@vendor.Description</td>
      </tr>
    }
  </tbody>
</table>

<a href='/vendors/new' class="button is-success is-outlined">+ Add Vendor</a>
