@{
  Layout = "_Layout";
}

@using Tracker.Models;

<h1 class="is-size-1 has-text-centered">Vendor Detail:</h1>

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/vendors">Vendor List</a></li>
    <li class="is-active"><a href="/vendors/show" aria-current="page">Vendor Detail</a></li>
  </ul>
</nav>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>