@{
  Layout = "_Layout";
}

<h1 class="is-size-1 has-text-centered">Your list has been cleared!</h1>

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li class="is-active"><a href="/orders" aria-current="page">Vendor List</a></li>
  </ul>
</nav>

<p><a href="/orders">Back to list.</a></p>